.homePage {
 display: flex;
 justify-content: center;
 height: 100vh;
}

.boardsList {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: 15vh;
}

.boardLink {
    text-align: center;
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px;
    border-color: #9999a5;
    text-decoration: none;
    color: #9999a5;
    background-color: #404045;
    transition: 0.5s;
}

.boardLink:hover {
    background-color: #797985;
    color: #ccccd5;
    width: 175px;
}